@media screen and (min-width:780px)
  .contenido
    width 68%
    margin-left 3%
  .contenidoLateral
    width 25%
    padding 1em 1% 1em 1%
    //margin-left 2%
    height 94%
    position fixed
    right 0
    margin 0
    .cuadroImagen
      padding 0em

      //height 6em
      border-radius 5px
      figure
        width 35%
        margin 1em 0 1em 1em
        display inline-block
      .nombreProfesion
        //border 1px solid blue
        margin 2.6em 0 0 0.3em
        display inline-block
        //width 47%
